.header {
    margin-top: 15px;
}

.wrapper {
    max-width: 1480px;
    padding: 0 20px;
    margin: 0 auto;
}

.header .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__box{
    display: flex;
    gap: 10px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #3e3f4ce6;
    font-size: 26px;
    font-weight: 800;
}

.header__logo:hover{
    display: flex;
    align-items: center;
}

.header__img {
    width: 40px;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
    background-color: #4444444f;
    border-radius: 50px;
}

.header__container:hover{
    display: flex;
    align-items: center;
}

.header__pic {
    width: 25px;
    border-radius: 50%;
}

.header__text {
    color: #3e3f4ce6;
    font-size: 20px;
    font-weight: 900;
}

.header__list {
    display: flex;
    gap: 20px;
}

.header__link {
    color: #3e3f4c;
    font-size: 18px;
    font-weight: 500;
}

.header__sign {
    background-color: #794dff;
    color: #ffffff;
    border-radius: 10px;
    padding: 7px;
}

.welcome {
    margin-top: 100px;
}

.welcome .wrapper {
    display: flex;
    justify-content: space-between;
}

.welcome__left {
    max-width: 30%;
}

.welcome__subtitle {
    font-size: 28px;
    font-weight: 800;
    font-style: italic;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #794dff 0%, #fb4141 50%);
    opacity: 0;
    animation: fadeleft 1s forwards;
}

@keyframes fadeleft{
    0%{
        opacity: 0;
        transform: translateX(-150%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.welcome__title {
    margin-top: 50px;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 800;
    opacity: 0;
    animation: fadebottom 1s forwards;
}

@keyframes fadebottom{
    0%{
        opacity: 0;
        transform: translatey(150%);
    }
    100%{
        opacity: 1;
        transform: translatey(0);
    }
}

.welcome--purple {
    color: #794dff;
}

.welcome__desc {
    margin-top: 30px;
    font-size: 1.20rem;
    line-height: 1.4;
    opacity: 0;
    animation: fadebottom 1s forwards;
}

.welcome--border-gradient {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #794dff 10%, #ffffff 100%);
    border-image-slice: 1;
}

.welcome__rating {
    display: flex;
    align-items: center;
    opacity: 0;
    animation: fadebottom 1s forwards;
}

.welcome__photo {
    position: relative;
    display: flex;
    width: 50px;
}

.welcome__pic {
    border-radius: 50%;
    animation: fadePicReverse 1s forwards;
}

.welcome__pic:hover{
    animation: fadePic 1s forwards;
    z-index: 1000;
    cursor: pointer;
}

@keyframes fadePic{
    0%{
       transform: translateY(0px);
    }
    100%{
        transform: translateY(-10px);
    }
}

@keyframes fadePicReverse{
    0%{
       transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.img5 {
    position: absolute;
    left: 0;
    top: 0;
}

.img6 {
    position: absolute;
    left: 30px;
    top: 0;
}

.img7 {
    position: absolute;
    left: 60px;
    top: 0;
}

.img8 {
    position: absolute;
    left: 90px;
    top: 0;
}

.welcome__stars {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 50px;
}

.welcome__star {
    width: 20px;
}

.welcome__container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    opacity: 0;
    animation: fadebottom 1s forwards;
}

.welcome__link {
    width: 180px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #794dff;
    border-radius: 10px;
}

.welcome__link-text{
    color: #ffffff;
    font-size: 1.25rem;
    line-height: 1.625rem;
}

.welcome__link-img {
    width: 15px;
}

.welcome__demo {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #4444444f;
    border-radius: 10px;
}

.welcome__demo-img {
    width: 30px;
}

.welcome__right {
    max-width: 60%;
    position: relative;
    
}

.welcome__right-img {
    position: relative;
    z-index: 1000;
}

.welcome__right-pic {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 900;
}

.welcome__nextjs {
    position: absolute;
    top: -30px;
    left: 150px;
    border-radius: 50%;
    z-index: 1100;
    width: 50px;
    animation: moveCup-1 2s infinite alternate;
}

@keyframes moveCup-1{
    0% {
        transform: none;
    }
    100% {
        transform: translateY(20px);
    }
}

.welcome__shadcn {
    position: absolute;
    top: 130px;
    right: 0;
    border-radius: 50%;
    z-index: 1100;
    width: 40px;
    animation: moveCup-2 3s infinite alternate;
}

@keyframes moveCup-2{
    0% {
        transform: none;
    }
    100% {
        transform: translateY(20px);
    }
}

.welcome__stripe {
    position: absolute;
    bottom: 220px;
    left: 0;
    border-radius: 50%;
    z-index: 1100;
    width: 50px;
    animation: moveCup-3 2.5s infinite alternate;
}

@keyframes moveCup-3{
    0% {
        transform: rotate(35deg);
    }
    100% {
        transform: translateY(20px);
        
    }
}

.welcome__auth {
    position: absolute;
    bottom: 130px;
    right: 30px;
    border-radius: 50%;
    z-index: 1100;
    width: 20px;
    animation: moveCup-4 4s infinite alternate;
}

@keyframes moveCup-4{
    0% {
        transform: none;
    }
    100% {
        transform: translateY(20px);
    }
}

.tech {
    margin-top: 70px;
}

.tech__title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 100px;
}

.tech__box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    animation: fadebottom 1s forwards;
}

.tech__container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.tech__img {
    width: 50px;
    border-radius: 10px;
}

.tech__subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
}

.tech__text {
    margin-top: 150px;
    font-size: 1.875rem;
    text-align: center;
    animation: fadebottom 1s forwards;
}

.tech__desc {
    font-size: 1.25rem;
    text-align: center;
    color: #5f5f5f;
    animation: fadebottom 1s forwards;
}

.advantages {
    margin-top: 100px;
}

.advantages .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.advantages__title {
    font-size: 1.5rem;
}

.advantages__box {
    display: flex;
    align-items: center;
    max-width: 200px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 30px;
    background-color: #dfdddd;
    border-radius: 10px;
}

.advantages__text {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 10px;
}

.advantages__img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    z-index: 1500;
    animation: pulse 0.8s infinite ease-in-out;
    transform: translate(-50%, -50%);
}

@keyframes pulse{
    0%{
        box-shadow: 0px 0px 0px 0px rgba(57, 75, 114, 0.541);
    }
    100%{
        box-shadow: 0px 0px 10px 30px rgba(57, 75, 114, 0.541);
    }
}

.saved__subtitle {
    margin-top: 50px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.brand .wrapper {
    margin-top: 150px;
}

.brand__title {
    text-align: center;
    font-size: 1.875rem;
    font-weight: 600;
}

.brand__subtitle {
    max-width: 650px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 1.25rem;
    color: #5f5f5f;
}

.brand__main-container{
    margin-top: 100px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid #c0bfbf;
    border-radius: 15px;
}

.brand__container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand__text {
    font-size: 1.5rem;
    color: #794dff;
}

.brand__desc {
    margin-top: 10px;
    font-size: 1.125rem;
}

.brand__left {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.brand__img {
    width: 50%;
}

.brand__box {
    margin-top: 30px;
}

.brand__box-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand__box-title {
 font-size: 1.125rem;
}

.brand__box-subtitle {
    font-size: 1rem;
    line-height: 1.375rem;
    color: #5f5f5f;
}